body {
}

.gridViewArticulos {

}

    .gridViewArticulos th {
        border-bottom: 2px solid #1A2629;
    }

    .gridViewArticulos td {
        border-color: #1A2629;
        border-bottom: 1px solid #1A2629;
    }

.EnlistarArticulos {
    background: #1A2629;
}